.main__title
	|Задание 3. Список achivements.
.achiv
	// Вызываем миксин (achivements - из файла content.json)
	.employee
		|Сотрудник 1:
	+newAchiv(employee1)
	.employee
		|Сотрудник 2:
	+newAchiv(employee2)