extends ../_template

block variables
    - var title = 'YANDEX_SUMMER_TEST'

block content
    include ../../blocks/cards/cards.pug
    include ../../blocks/DOM/DOM.pug
    include ../../blocks/achiv/achiv.pug