.main__title
	|Задание 2. Работа с DOM.
.DOM
	p.DOM__trip I have class DOM__trip (1). I`m p.
	p.DOM__trip I have class DOM__trip (2). I`m p.
	p.DOM__trip I have class DOM__trip (3). I`m p.
	p#DOM__trip I have id DOM__trip (1). I`m p.
	p#DOM__trip I have id DOM__trip (2). I`m p.
	.DOM__variant
		|For the classes:
	ul.DOM__list
		li.DOM__item
			a.DOM__link#DOM__link_addClass(href='#') Add Class
		li.DOM__item
			a.DOM__link#DOM__link_removeClass(href='#') Remove Class
		li.DOM__item
			a.DOM__link#DOM__link_toggleClass(href='#') Toggle Class
	.DOM__variant
		|For the id`s:
	ul.DOM__list
		li.DOM__item
			a.DOM__link#DOM__link_addId(href='#') Add Class
		li.DOM__item
			a.DOM__link#DOM__link_removeId(href='#') Remove Class
		li.DOM__item
			a.DOM__link#DOM__link_toggleId(href='#') Toggle Class
	.DOM__variant
		|For the p:
	ul.DOM__list
		li.DOM__item
			a.DOM__link#DOM__link_addP(href='#') Add Class
		li.DOM__item
			a.DOM__link#DOM__link_removeP(href='#') Remove Class
		li.DOM__item
			a.DOM__link#DOM__link_toggleP(href='#') Toggle Class